<!DOCTYPE html>
<html>
<head>
  <title>Necklace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/flash_message" %>
<div class="row header"><%= render "layouts/header" %></div>
<div class="row">
	<div class="span2 side-panel left-panel"></div>
	<div class="span8 content"><%= yield %></div>
	<div class="span2 side-panel right-panel"></div>
</div>
<div class="row footer"><%= render "layouts/footer" %></div>

</body>
</html>
